extends layout.pug

block content

  article.portfolio-intro
    h1 Let's make the web great together!
    p Portfolio of web app works example of our team!

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=project.image_urls[0], alt='' width="400px" height="250px")
            h5=project.project_name

